.container {
	z-index: 13;
}

.container > div {
	padding-top: 5px;
	padding-bottom: 5px;
}

.logo {
	width: 70px;
	height: 35px;
}

.settings {
	width: 75px;
	height: 30px;
}

.lang {
	width: 30px;
	height: 100%;
}

@media (min-width: 576px) {
	.container > div {
		padding-top: 7.5px;
		padding-bottom: 7.5px;
	}

	.logo {
		width: 80px;
		height: 40px;
	}

	.settings {
		width: 82.5px;
		height: 35px;
	}

	.lang {
		width: 35px;
	}
}
@media (min-width: 992px) {
	.logo {
		width: 90px;
		height: 45px;
	}
}
@media (min-width: 1400px) {
	.logo {
		width: 100px;
		height: 50px;
	}

	.settings {
		width: 90px;
		height: 40px;
	}

	.lang {
		width: 40px;
	}
}
