.wrapper {
	border-width: 1px;
	border-style: solid;
	padding: 7.5px;
	font-size: 12px;
}

@media (min-width: 576px) {
	.wrapper {
		font-size: 15px;
	}
}

@media (min-width: 1400px) {
	.wrapper {
		font-size: 18px;
	}
}
