*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'BPG Nino Mkhedruli', sans-serif;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	padding-top: 45px;
	min-height: calc(100vh - 56px);
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	main {
		padding-top: 55px;
		min-height: calc(100vh - 60px);
	}

	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	main {
		padding-top: 60px;
	}

	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	main {
		padding-top: 65px;
		min-height: calc(100vh - 68px);
	}

	.container {
		max-width: 1320px;
	}
}

/* GLOBAL PROPERTIES */
/* SIZES */
.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}
/* DISPLAY */
.d-f {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.d-n {
	display: none;
}

.d-b {
	display: block;
}

.d-f-cc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.d-f-bc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.d-f-ac {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.fd-c {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.ai-fs {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.jc-c {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.jc-fs {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

/* POSITION */
.p-r {
	position: relative;
}

.p-a {
	position: absolute;
}

.p-f {
	position: fixed;
}

/* FONT */
.fw-l {
	font-weight: lighter;
}
.fw-b {
	font-weight: bold;
}
/* TEXT */
.ta-c {
	text-align: center;
}

/* OVERFLOW */
.o-h {
	overflow: hidden;
}

/* BORDER-RADIUS */
.rounded {
	border-radius: 15px;
}
